# Laravel / PHP
/vendor/
composer.lock
.env
.env.*          # For .env.staging, .env.production, etc.
.phpunit.result.cache
/storage/*.key

# Laravel specific
/storage/app/*
/storage/framework/*
/storage/logs/*

# But keep git required dirs
!storage/app/.gitignore
!storage/framework/.gitignore
!storage/logs/.gitignore

# Node / Vite
/node_modules/
npm-debug.log
yarn-error.log
pnpm-lock.yaml
vite.config.ts
vite.config.js

# Build files
/public/hot
/public/storage
/public/mix-manifest.json
/public/build

# OS files
.DS_Store
Thumbs.db

# IDEs
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Others
/.turbo/
.phpstorm.meta.php
*.log
